@model StudentGuidence.Models.University
@{
    ViewData["Title"] = "Edit";
}

<h1 class="text-center py-5 ">Edit University</h1>
<div>
    <form method="post" asp-controller="University" asp-action="Edit" class="form-control form-control-lg h-100 border-danger py-5 mb-3">
        <div class="container border p-3 mt-4">
            <div class="row pb-2">
                <h2 class="text-primary">Edit  University  Information</h2>

            </div>
            <div asp-validation-summary="All"></div>
            <div class="mb-3">
                <input asp-for="Id" hidden />

                <label asp-for="Name"></label>
                <input asp-for="Name" class="form-control form-control-lg border-primary" />
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Province"></label>
                <input asp-for="Province" class="form-control form-control-lg border-primary" />
                <span asp-validation-for="Province" class="text-danger"></span>
            </div>
            <div class="mb-3">
                <label asp-for="Establishment"></label>
                <input type="date" asp-for="Establishment" class="form-control" />
                <span asp-validation-for="Establishment" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-outline-primary" style="width:150px">
                <img src="~/img/Icon/update_25px.png" />
                Update
            </button>
            <a asp-controller="University" asp-action="Index" class="btn btn-outline-primary" style="width:150px;">
                <img src="~/img/Icon/back_50px.png" />
                Back to List
            </a>
        </div>
    </form>
</div>



