@model StudentGuidence.Models.Department
@{
    ViewData["Title"] = "Create";
}
<h1 clsass="text-center py-5">Create Department</h1>
<form method="post" asp-controller="Department" asp-action="Create" class="form-control form-control-lg h-100 border-danger py-5 mb-3">
    <div class="border p-3 mt-4 border-success ">
        <div class="row pb-2">
            <h2 class="text-primary">Create Department</h2>
        </div>
        <div class="text-danger" asp-validation-summary="All"></div>
        <div class="mb-3 ">
            <label asp-for="Name"></label>
            <input asp-for="Name" class="form-control form-control-lg border-primary" />
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="mb-3 ">
            <label asp-for="History"></label>
            <textarea class="form-control" rows="5" asp-for="History"></textarea>
        </div>
        <div class="mb-3">
            <label asp-for="PreRequirment"></label>
            <textarea asp-for="PreRequirment" rows="7" class="form-control form-control-lg border-primary"></textarea>
            <span asp-validation-for="PreRequirment" class="text-danger"></span>
        </div>
    
        <div class="mb-3">
            <label asp-for="UniversityId"></label>
            <select class="form-control" asp-for="UniversityId" asp-items="@(ViewBag.universityList)"></select>
            <span asp-validation-for="UniversityId" class="text-danger"></span>
        </div>

        <div class="mb-3">
            <label asp-for="FacultyId"></label>
            <select class="form-control" asp-for="FacultyId" asp-items="@(ViewBag.facultyList)"></select>
            <span asp-validation-for="FacultyId" class="text-danger"></span>
        </div>
        <button type="submit" class="btn btn-outline-success" style="width:150px">
            Create
            <img src="~/img/Icon/add25px.png" />
        </button>
        <a asp-action="Index" class="btn btn-outline-primary" style="width:150px;">
            <img src="~/img/Icon/back_50px.png" />
            Back to List
        </a>
    </div>
</form>


@section Scripts{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}