@model StudentGuidence.Models.Article
@{
    ViewData["Title"] = "Post1";
}

<h1>Welcom To The Post</h1>

<h3>Post by @Model.Author</h3>
<hr />
<p>
    @Model.Description
</p>

<p>@Model.DateOfIssue</p>