============= contact ===============
@{
    ViewData["Title"] = "Contact";
}

<!-- ======= Contact Section ======= -->
<section id="contact" class="contact">

    <div class="container" data-aos="fade-up">

        <header class="section-header">
            <h3><b>اړیکه</b></h3>
            <p>مونږ سره اړیکه ونیسي</p>
        </header>

        <div class="row gy-4">

            <div class="col-lg-6">

                <div class="row gy-4">
                    <div class="col-md-6">
                        <div class="info-box ">
                            <i class="bi bi-geo-alt float-end"></i><br />
                            <h3 class="text-right">آدرس</h3>
                            <p class="text-right">جلال آباد،لومړي ناحیه،<br />BCS </p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="info-box">
                            <i class="bi bi-telephone float-end"></i><br />
                            <h3 class="text-right">زنګ ووهي</h3>
                            <p class="text-right">+93 748288515<br>+93 779379415</p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="info-box">
                            <i class="bi bi-envelope float-end"></i><br />
                            <h3 class="text-right">بریښنایي اړیکه</h3>
                            <p class="text-right">abdurrahmannoori10@gmail.com<br>khubaibghufran415@gmail.com</p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="info-box">
                            <i class="bi bi-clock float-end"></i><br />
                            <h3 class="text-right">فعال وخت</h3>
                            <p class="text-right">شنبه - جمعه<br>9:00AM - 05:00PM</p>
                        </div>
                    </div>
                </div>

            </div>
            <div class="col-lg-6">
                <form action="#" method="post" class="form-group">
                    <div class="row gy-4">



                        <div class="col-md-6 ">
                            <input type="email" class="form-control text-end" name="email" placeholder="بریښنالیک" required>
                        </div>

                        <div class="col-md-6">
                            <input type="text" name="name" class="form-control text-end" placeholder="نوم" required>
                        </div>

                        <div class="col-md-12">
                            <input type="text" class="form-control text-end" name="subject" placeholder="موضوع" required>
                        </div>

                        <div class="col-md-12">
                            <textarea class="form-control text-end" name="message" rows="6" placeholder="لیکنه" required></textarea>
                        </div>

                        <div class="col-md-12 text-center">
                            <button type="submit" class="btn btn-primary btn-lg">Send Message</button>
                        </div>

                    </div>
                </form>

            </div>

        </div>

    </div>

</section><!-- End Contact Section -->
