@{
    ViewData["Title"] = "Home Page";
}

<!-- ======= Home page of web site ======= -->
<div class="container-fluid pt-3">
  <section id="hero" class="hero d-flex align-items-center ">

    <div class="container-fluid">
      <div class="row">
           <div class="col-lg-6 hero-img" data-aos="zoom-out" data-aos-delay="200">
          <img src="~/img/hero-img.png" class="img-fluid" alt="">
        </div>
        <div class="col-lg-6 d-flex flex-column justify-content-center">
          <p class="text-center display-2 by-5">  د زده کونکوو لارښود  </p>
          <p class="text-center display-6" data-aos-delay="400">د یو روښانه راتلونکي لپاره مونږ سره ووسي</p>
          <p  data-aos-delay="400"><h5 class="text-center">دا سیستم تاسو سره مرسته کوی تر څو یو ښه انتخاب وکړی او د خپل خوښي پوهنځي ته لاره ومومي</h5></p>
          <div data-aos="fade-up" data-aos-delay="600">
            <div class="text-center text-lg-start">
              <a href="#about" class="btn-get-started scrollto d-inline-flex align-items-center justify-content-center align-self-center">
                <span>راځي چی لاړ شو</span>
                <i class="bi bi-arrow-right"></i>
              </a>
            </div>
          </div>
        </div>
       
      </div>
    </div>

  </section><!-- End Hero -->
  </div>