@model StudentGuidence.Models.Teacher
@{
    ViewData["Title"] = "Teacher";
}
@*====================Header for my Design===================================*@
<section>
    <div class="container">
        <div class="row bg-light">
            @* Left Side has finished *@
            <div class="col-8">
                <div class="row">
                    <div class="col-3 text-start">
                        <a class="btn btn-secondary m-2 rounded-circle text-white"> لومړی مقاله</a>
                        <a class="btn btn-secondary m-2 rounded-circle text-white">دومه مقاله</a>
                        <a class="btn btn-secondary m-2 rounded-circle text-white">دریمه مقاله</a>
                        <a class="btn btn-secondary m-2 rounded-circle text-white">څلورمه مقاله</a>
                        <a class="btn btn-secondary m-2 rounded-circle text-white">پنځمه مقاله</a>
                        <a class="btn btn-secondary m-2 rounded-circle text-white">شپږمه مقاله</a>
                        <a class="btn btn-secondary m-2 rounded-circle text-white">لومړی مقاله</a>
                    </div>
                    <div class="col-9">
                        <div class="row">
                            <div>
                                <p class="text-center"><b>د مقالو عنوانونه  &nbsp; &nbsp;  (د مقالو تاریخ)</b></p>
                                <img src="~/images/teacher/040.jpg" class="text-center rounded" style="width:500px;height:400px;background-position-x:200px;" />
                            </div>
                            <div class="text-end " lang="ar" dir="rtl" id="floatingTextarea2" style="width:500px;height:500px">
                                <p>
                                    د ډیټابس څخه ډیټا راخستل
                                    د ډیټابس څخه ډیټا راخستل
                                    د ډیټابس څخه ډیټا راخستل
                                    د ډیټابس څخه ډیټا راخستل
                                    د ډیټابس څخه ډیټا راخستل
                                    د ډیټابس څخه ډیټا راخستل
                                    د ډیټابس څخه ډیټا راخستل
                                    د ډیټابس څخه ډیټا راخستل

                                    د ډیټابس څخه ډیټا راخستل
                                    د ډیټابس څخه ډیټا راخستل
                                    د ډیټابس څخه ډیټا راخستل
                                    د ډیټابس څخه ډیټا راخستل
                                    د ډیټابس څخه ډیټا راخستل
                                    د ډیټابس څخه ډیټا راخستل
                                    د ډیټابس څخه ډیټا راخستل
                                    د ډیټابس څخه ډیټا راخستل
                                    د ډیټابس څخه ډیټا راخستل
                                </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            @* Right Side has finished *@
            <div class="col-4">

                <div class="row">
                    <div>
                        <img src="~/images/teacher/040.jpg" class="rounded-circle" style="width:200px;height:200px; margin-left:100px;" />
                    </div>
                    <div class="mt-3">
                        <div class="row">
                            <div class="col-8 text-end">
                                <h5><label><u>د ډیټابس څخه ډیټا راخستل</u></label></h5>
                                <h5><label><u>د ډیټابس څخه ډیټا راخستل</u></label></h5>
                                <h5><label><u>د ډیټابس څخه ډیټا راخستل</u></label></h5>
                                <h5><label><u>د ډیټابس څخه ډیټا راخستل</u></label></h5>
                                <h5><label><u>د ډیټابس څخه ډیټا راخستل</u></label></h5>
                                <h5><label><u>د ډیټابس څخه ډیټا راخستل</u></label></h5>
                                <h5><label><u>د ډیټابس څخه ډیټا راخستل</u></label></h5>
                            </div>
                            <div class="col-4 text-end">
                                <h5><label>:  نوم</label></h5>
                                <h5><label>:  ولایت</label></h5>
                                <h5><label>:  ولسوالی</label></h5>
                                <h5><label>:‌  ډیپارټمنټ</label></h5>
                                <h5><label>:‌  ډګری</label></h5>
                                <h5><label>:‌  موبایل</label></h5>
                                <h5><label>:‌  ایمل</label></h5>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</section>
