@model IEnumerable<StudentGuidence.Models.University>
@{
    ViewData["Title"] = "Universites";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Nunito:300,300i,400,400i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i" rel="stylesheet">
    <link href="~/sitfiles/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="~/sitfiles/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="~/sitfiles/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="~/sitfiles/remixicon/remixicon.css" rel="stylesheet">
    <link href="~/sitfiles/swiper/swiper-bundle.min.css" rel="stylesheet">
    <!-- Main CSS File -->
    <link href="~/css/style.css" rel="stylesheet">
    <style>
        #bgimg {
            background-color: #272731d4;
            font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
            background-size: cover;
            background-position: center center;
            height: 300px;
            position: relative;
            font-size: 60px;
            text-align: center;
            color: #28d4bf;
            padding-top: 5px;
            box-shadow: inset;
            border-radius: 50px 5px 50px 5px;
        }

        #sub {
            font-size: 25px;
            padding-top: 3px;
            color: white;
        }
        /*--------------------------------------------------------------
        # Portfolio Section
        --------------------------------------------------------------*/
        .portfolio .portfolio-flters {
            padding: 0 0 10px 0;
            margin: 0 auto;
            list-style: none;
            text-align: center;
        }

            .portfolio .portfolio-flters li {
                cursor: pointer;
                display: inline-block;
                padding: 0;
                font-size: 18px;
                font-weight: 500;
                margin: 0 10px;
                line-height: 1;
                transition: all 0.3s ease-in-out;
            }

                .portfolio .portfolio-flters li:hover,
                .portfolio .portfolio-flters li.filter-active {
                    color: var(--color-primary);
                }

                .portfolio .portfolio-flters li:first-child {
                    margin-left: 0;
                }

                .portfolio .portfolio-flters li:last-child {
                    margin-right: 0;
                }


            .portfolio .portfolio-flters li {
                font-size: 14px;
                margin: 0 5px;
            }

        .portfolio .portfolio-wrap {
            box-shadow: 0px 10px 30px rgba(0, 0, 0, 0.1);
            border-radius: 10px;
            height: 100%;
            // overflow: hidden;
        }

            .portfolio .portfolio-wrap img {
                transition: 0.3s;
                position: relative;
                z-index: 1;
            }

            .portfolio .portfolio-wrap .portfolio-info {
                padding: 25px 20px;
                background-color: #fff;
                position: relative;
                border-top: 1px solid #f3f3f3;
                z-index: 2;
            }

                .portfolio .portfolio-wrap .portfolio-info h4 {
                    font-size: 18px;
                    font-weight: 600;
                    padding-right: 50px;
                }

                    .portfolio .portfolio-wrap .portfolio-info h4 a {
                        color: var(--color-default);
                        transition: 0.3s;
                    }

                        .portfolio .portfolio-wrap .portfolio-info h4 a:hover {
                            color: var(--color-primary);
                        }

                .portfolio .portfolio-wrap .portfolio-info p {
                    color: #6c757d;
                    font-size: 14px;
                    margin-bottom: 0;
                    padding-right: 50px;
                }

            .portfolio .portfolio-wrap:hover img {
                transform: scale(1.1);
            }
    </style>

</head>
<body>
    <div class="py-3"></div>
    <div class="container-fluid pt-5 pb-1" id="bgimg">
        <div class="align-content-center">
            <p class="pt-2"><b>د افغانستان دولتی پوهنتونونه  </b></p>
        </div>
        <h1 id="sub"> دلته د هغه پوهنتونونو په تړاو ټول معلومات ترلاسه کولای شي چي د کانکور امتحان له لاري یی انتخابوی</h1>
    </div>
    <section id="portfolio" class="portfolio sections-bg">
        <div class="container-fluid" data-aos="fade-up">
            <div class="row gy-4 portfolio-container">


                @foreach (var university in Model)
                {
                    <div class="col-xl-4 col-md-6 portfolio-item filter-app">
                        <div class="portfolio-wrap">
                            <a asp-controller="Home" asp-action="Faculty" asp-route-universityId="@university.Id" data-gallery="portfolio-gallery-app" class="glightbox">
                                <img src="@university.ImageUrl" class="img-fluid" alt="">
                            </a>
                            <div class="portfolio-info">
                                <h2><a asp-action="Faculty" asp-route-id="@university.Id" title="More Details"><b>@university.Name</b></a></h2>
                                <p>Lorem ipsum, dolor sit amet consectetur</p>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </section>
</body>
</html>



<!-- ======= Services Section ======= -->
@*<section id="services" class="services ">

      <div class="container" data-aos="fade-up">

        <header class="section-header">
          <h2>Services</h2>
          <p>Veritatis et dolores facere numquam et praesentium</p>
        </header>

        <div class="row gy-4">

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
            <div class="service-box blue">
              <i class="ri-discuss-line icon"></i>
              <h3>Nesciunt Mete</h3>
              <p>Provident nihil minus qui consequatur non omnis maiores. Eos accusantium minus dolores iure perferendis tempore et consequatur.</p>
              <a href="#" class="read-more"><span>Read More</span> <i class="bi bi-arrow-right"></i></a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="300">
            <div class="service-box orange">
              <i class="ri-discuss-line icon"></i>
              <h3>Eosle Commodi</h3>
              <p>Ut autem aut autem non a. Sint sint sit facilis nam iusto sint. Libero corrupti neque eum hic non ut nesciunt dolorem.</p>
              <a href="#" class="read-more"><span>Read More</span> <i class="bi bi-arrow-right"></i></a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="400">
            <div class="service-box green">
              <i class="ri-discuss-line icon"></i>
              <h3>Ledo Markt</h3>
              <p>Ut excepturi voluptatem nisi sed. Quidem fuga consequatur. Minus ea aut. Vel qui id voluptas adipisci eos earum corrupti.</p>
              <a href="#" class="read-more"><span>Read More</span> <i class="bi bi-arrow-right"></i></a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="500">
            <div class="service-box red">
              <i class="ri-discuss-line icon"></i>
              <h3>Asperiores Commodi</h3>
              <p>Non et temporibus minus omnis sed dolor esse consequatur. Cupiditate sed error ea fuga sit provident adipisci neque.</p>
              <a href="#" class="read-more"><span>Read More</span> <i class="bi bi-arrow-right"></i></a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="600">
            <div class="service-box purple">
              <i class="ri-discuss-line icon"></i>
              <h3>Velit Doloremque.</h3>
              <p>Cumque et suscipit saepe. Est maiores autem enim facilis ut aut ipsam corporis aut. Sed animi at autem alias eius labore.</p>
              <a href="#" class="read-more"><span>Read More</span> <i class="bi bi-arrow-right"></i></a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="700">
            <div class="service-box pink">
              <i class="ri-discuss-line icon"></i>
              <h3>Dolori Architecto</h3>
              <p>Hic molestias ea quibusdam eos. Fugiat enim doloremque aut neque non et debitis iure. Corrupti recusandae ducimus enim.</p>
              <a href="#" class="read-more"><span>Read More</span> <i class="bi bi-arrow-right"></i></a>
            </div>
          </div>
          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="200">
            <div class="service-box blue">
              <i class="ri-discuss-line icon"></i>
              <h3>Nesciunt Mete</h3>
              <p>Provident nihil minus qui consequatur non omnis maiores. Eos accusantium minus dolores iure perferendis tempore et consequatur.</p>
              <a href="#" class="read-more"><span>Read More</span> <i class="bi bi-arrow-right"></i></a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="300">
            <div class="service-box orange">
              <i class="ri-discuss-line icon"></i>
              <h3>Eosle Commodi</h3>
              <p>Ut autem aut autem non a. Sint sint sit facilis nam iusto sint. Libero corrupti neque eum hic non ut nesciunt dolorem.</p>
              <a href="#" class="read-more"><span>Read More</span> <i class="bi bi-arrow-right"></i></a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="400">
            <div class="service-box green">
              <i class="ri-discuss-line icon"></i>
              <h3>Ledo Markt</h3>
              <p>Ut excepturi voluptatem nisi sed. Quidem fuga consequatur. Minus ea aut. Vel qui id voluptas adipisci eos earum corrupti.</p>
              <a href="#" class="read-more"><span>Read More</span> <i class="bi bi-arrow-right"></i></a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="500">
            <div class="service-box red">
              <i class="ri-discuss-line icon"></i>
              <h3>Asperiores Commodi</h3>
              <p>Non et temporibus minus omnis sed dolor esse consequatur. Cupiditate sed error ea fuga sit provident adipisci neque.</p>
              <a href="#" class="read-more"><span>Read More</span> <i class="bi bi-arrow-right"></i></a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="600">
            <div class="service-box purple">
              <i class="ri-discuss-line icon"></i>
              <h3>Velit Doloremque.</h3>
              <p>Cumque et suscipit saepe. Est maiores autem enim facilis ut aut ipsam corporis aut. Sed animi at autem alias eius labore.</p>
              <a href="#" class="read-more"><span>Read More</span> <i class="bi bi-arrow-right"></i></a>
            </div>
          </div>

          <div class="col-lg-4 col-md-6" data-aos="fade-up" data-aos-delay="700">
            <div class="service-box pink">
              <i class="ri-discuss-line icon"></i>
              <h3>Dolori Architecto</h3>
              <p>Hic molestias ea quibusdam eos. Fugiat enim doloremque aut neque non et debitis iure. Corrupti recusandae ducimus enim.</p>
              <a href="#" class="read-more"><span>Read More</span> <i class="bi bi-arrow-right"></i></a>
            </div>
          </div>

        </div>

      </div>

    </section>*@
<!-- End Services Section -->
