
@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<li><a class="nav-link scrollto active" asp-area="Admin" asp-controller="University" asp-action="Index"> University </a></li>
<li><a class="nav-link scrollto active" asp-area="Admin" asp-controller="University" asp-action="Test"> Student List Desing </a></li>
<li><a class="nav-link scrollto active" asp-area="Admin" asp-controller="Faculty" asp-action="Index">Faculty</a></li>
<li><a class="nav-link scrollto active" asp-area="Admin" asp-controller="Department" asp-action="Index">Department</a></li>
<li><a class="nav-link scrollto active" asp-area="Admin" asp-controller="Article" asp-action="Index">Article</a></li>
<li><a class="nav-link scrollto active" asp-area="Admin" asp-controller="Student" asp-action="Index">Student</a></li>   
